/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body{
    background-color: #EAEAEA;
    margin-top: 100px;
    margin-bottom: 100px;
}

.menuBar{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: white;
}

.menuBar .icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16' style='overflow:visible;enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .unirvanaIconFill%7Bfill:%23d2e86e;%7D .bg%7Bfill:none;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cg%3E%3Cpath class='unirvanaIconFill' d='M4.7,0.5L5,11.3h6.3l0.2-6.5H9.2v4.3H7.2L7.1,2.6h6.6l-0.5,10.8H2.9L2.3,0.5H0l0.9,15.1H15l0.9-15.1L4.7,0.5z' /%3E%3C/g%3E%3Cline class='bg' x1='16' y1='16' x2='16' y2='0'/%3E%3C/svg%3E");
}
.menuBar .iconMore{
    position: absolute;
    right: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16' style='overflow:visible;enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .moreIcon%7Bfill:%23D2E86E;%7D .bg%7Bfill:none;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='moreIcon' d='M9.2,9.2l4,0c0.6,0,1.2-0.5,1.2-1.2c0-0.6-0.5-1.2-1.2-1.2l-4,0l0-4c0-0.6-0.5-1.2-1.2-1.2 c-0.6,0-1.2,0.5-1.2,1.2l0,4l-4,0C2.2,6.8,1.6,7.4,1.6,8c0,0.3,0.1,0.6,0.3,0.8C2.2,9,2.5,9.2,2.8,9.2l4,0l0,4 c0,0.3,0.1,0.6,0.3,0.8s0.5,0.3,0.8,0.3c0.6,0,1.2-0.5,1.2-1.2L9.2,9.2z'/%3E%3Crect class='bg' width='16' height='16'/%3E%3C/svg%3E");}

.blog{
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'DM Serif Display', serif;
    margin: auto;
    /* background-color: #5656d1; */    
    background-color: #1e1f28;
    width: 700px;
    height: auto;
}

.blogContainer{
    background-color: transparent;
    padding: 50px;
}

.portada{
    transform: translateX(-50px) translateY(-50px);
}

.title{
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: xx-large;
    color: #d2e86e;
}

.date{
    margin-bottom: 10px;
    font-size: small;
    color: #1e1f28;
    font-weight: 100;
}

.paragraph{
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: small;
    /* color: #22ffcd; */
    color: #1e1f28;
    font-weight: 100;
}
